
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}

body > header{ margin-top: 60px; } 
section article p{
  padding:2em 1em;
  margin-bottom: 2em;
  background-color:#e9ecef;
  border-radius: 1em;
}
