a {
    border: 2px solid yellow;
}

a {
  color: red;
  width: 100px;
  border: 2px solid yellow;
}

body > header{ margin-top: 60px; } 
section article p{
  padding:2em 1em;
  margin-bottom: 2em;
  background-color:#e9ecef;
  border-radius: 1em;
}
